<mat-toolbar>
  <h2>Bjj-league-placeholder</h2>
  <span class="example-spacer" style="flex: 1 1 auto;"></span>
  <button mat-raised-button (click)="login()">
    Login
  </button>
</mat-toolbar>
<h3>Information for your new bjj-league profile</h3>
<form [formGroup]="signupForm">
  <div class="form-flex">
    <div>
      <mat-form-field appearance="outline" class="input-width">
        <mat-label>First Name</mat-label>
        <input matInput required formControlName="first" pattern="[a-zA-Z]*" />
      </mat-form-field>
      <mat-form-field appearance="outline" class="input-width">
        <mat-label>Last Name</mat-label>
        <input matInput required formControlName="last" pattern="[a-zA-Z]*" />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline" class="input-width">
        <mat-label>Email</mat-label>
        <input
          matInput
          required
          formControlName="email"
          pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
        />
      </mat-form-field>
      <mat-form-field appearance="outline" class="input-width">
        <mat-label>Weight</mat-label>
        <input matInput required formControlName="weight" pattern="^[0-9]*$" />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field
        class="form-field"
        appearance="outline"
        class="input-width"
      >
        <mat-label> Password </mat-label>
        <input
          matInput
          required
          formControlName="password"
          type="password"
          pattern=".{8,}"
        />
        <mat-error
          *ngIf="
            signupForm.controls.password.touched &&
            signupForm.controls.password.invalid
          "
        >
          <span *ngIf="signupForm.controls.password.errors.required"
            >Password is required.</span
          >
        </mat-error>
      </mat-form-field>
      <mat-form-field
        class="form-field"
        appearance="outline"
        class="input-width"
      >
        <mat-label>Confirm Password </mat-label>
        <input
          matInput
          required
          formControlName="confirmPassword"
          type="password"
        />
        <mat-error
          *ngIf="
            signupForm.controls.password.touched &&
            signupForm.controls.password.invalid
          "
        >
          <span *ngIf="signupForm.controls.password.errors.required"
            >Password is required.</span
          >
          <span *ngIf="passwordMismatch">
            Passwords have to match
          </span>
        </mat-error>
        <mat-hint>Password must be > 8</mat-hint>
      </mat-form-field>
    </div>
    <div *ngIf="!gymBool" class="select-gym">
      <mat-form-field class="example-full-width">
        <input
          type="text"
          placeholder="Your Home Gym"
          aria-label="Gym"
          matInput
          formControlName="homeGym"
          [matAutocomplete]="auto"
        />
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let gym of gyms" [value]="gym">
            {{ gym }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <button mat-raised-button (click)="showGymForm()">
        Enter New Gym
      </button>
    </div>
    <div class="create-gym" *ngIf="gymBool">
      <app-gym-form (return)="returnGymForm($event)"></app-gym-form>
    </div>
  </div>
  <div class="subButton">
    <button mat-raised-button (click)="submit(signupForm.value)">
      Submit
    </button>
  </div>
</form>
