<mat-toolbar>
  <h2>Bjj-league-placeholder</h2>
  <span class="example-spacer" style="flex: 1 1 auto;"></span>
  <button mat-raised-button (click)="login()">
    Login
  </button>
</mat-toolbar>
<h3>Information for your new bjj-league profile</h3>
<form [formGroup]="signupForm">
  <div class="form-flex">
    <mat-form-field appearance="outline">
      <mat-label>Full Name</mat-label>
      <input matInput required formControlName="name" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput required formControlName="email" />
    </mat-form-field>
    <mat-form-field class="form-field" appearance="outline">
      <mat-label> Password </mat-label>
      <input matInput required formControlName="password" type="password" />
      <mat-error
        *ngIf="
          signupForm.controls.password.touched &&
          signupForm.controls.password.invalid
        "
      >
        <span *ngIf="signupForm.controls.password.errors.required"
          >Password is required.</span
        >
        <span *ngIf="signupForm.controls.password.errors.minLength">
          Password is too short must be 8 characters long
        </span>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="form-field" appearance="outline">
      <mat-label>Confirm Password </mat-label>
      <input
        matInput
        required
        formControlName="confirmPassword"
        type="password"
      />
      <mat-error
        *ngIf="
          signupForm.controls.password.touched &&
          signupForm.controls.password.invalid
        "
      >
        <span *ngIf="signupForm.controls.password.errors.required"
          >Password is required.</span
        >
        <span *ngIf="passwordMismatch">
          Passwords have to match
        </span>
        <span *ngIf="signupForm.controls.password.errors.minLength">
          Password is too short must be 8 characters long
        </span>
        <mat-hint>Password must be > 8</mat-hint>
      </mat-error>
    </mat-form-field>
    <div *ngIf="!gymBool" class="select-gym">
      <mat-form-field class="example-full-width">
        <input
          type="text"
          placeholder="Your Home Gym"
          aria-label="Gym"
          matInput
          formControlName="homeGym"
          [matAutocomplete]="auto"
        />
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let gym of gyms" [value]="gym">
            {{ gym }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <button mat-raised-button (click)="showGymForm()">
        Enter New Gym
      </button>
    </div>
    <div class="create-gym" *ngIf="gymBool">
      <app-gym-form></app-gym-form>
    </div>
  </div>
  <div class="subButton">
    <button mat-raised-button (click)="submit(signupForm.value)">
      Submit
    </button>
  </div>
</form>
