.login-flex {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-left: 10vw;
}
.login-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}
.login-title {
  margin-top: 5vh;
  margin-left: 3vw;
}
.signup-link {
  cursor: pointer;
  font-weight: 600;
}
