<mat-toolbar>
  <h2>Bjj-league-placeholder</h2>
  <span class="example-spacer" style="flex: 1 1 auto;"></span>
  <button mat-raised-button (click)="signup()">
    Signup
  </button>
</mat-toolbar>

<h3 class="login-title">
  Login to an existing profile or
  <a (click)="signup()" class="signup-link">create a new one</a>
</h3>
<form [formGroup]="loginForm" (submit)="submit()">
  <div class="login-flex">
    <mat-form-field class="form-field" appearance="outline">
      <mat-label> Email </mat-label>
      <input matInput formControlName="email" required />
      <mat-error
        *ngIf="
          loginForm.controls.email.touched && loginForm.controls.email.invalid
        "
      >
        <span *ngIf="loginForm.controls.username.errors.required"
          >Email is required.</span
        >
      </mat-error>
    </mat-form-field>
    <br />
    <mat-form-field class="form-field" appearance="outline">
      <mat-label> Password </mat-label>
      <input matInput required formControlName="password" type="password" />
      <mat-error
        *ngIf="
          loginForm.controls.password.touched &&
          loginForm.controls.password.invalid
        "
      >
        <span *ngIf="loginForm.controls.password.errors.required"
          >Password is required.</span
        >
      </mat-error>
    </mat-form-field>
    <br />
  </div>
  <div class="login-btn">
    <button mat-raised-button color="primary" type="submit">Log In</button>
  </div>
</form>
